body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

p {
    background: #dda;
    border: 2px solid red;
    border-radius: 5px;
    text-align: center;
    padding: 1rem;
    font-size: 2em;
    transition-property: font-size;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(.15, 2, .85, -1);
}

p.scale {
    width: 600px;
    font-size: 5em;
}

button {
    border-radius: 5px;
    font-size: 2em;
    background-color: lightgreen;
}