.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .4em;
    /*align-items: center;*/
    justify-content: space-evenly;
}

.container>* {
    border: 1px solid black;
    /*max-height: 5lh;*/
    /*max-width: 20em;*/
    padding: .4em;
    justify-self: center;
    /*text-align: center;*/
    /*flex: 1;*/
}
