.grid-container {
    width: 65%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(15%, 1fr);
    grid-template-rows: repeat(1fr, 5fr, 1fr);
    grid-template-areas:
        "header header"
        "side main"
        "side footer";
    gap: 12px;
    /* optional */
}

@media screen and (max-width: 400px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    .side {
        display: none;
    }
}

.header {
    grid-area: header;
}

.side {
    grid-area: side;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

.grid-container>* {
    border: 2px solid #f00;
    padding: 0.5em;
}